@font-face {
    src: url("../fonts/BebasNeue-Regular.otf");
    font-family: Bebas;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-background {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    position: absolute;
    overflow: hidden;
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.img-logo-big {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    position: absolute;
    overflow: hidden;
    pointer-events: none;

    width: 200%;
    height: auto;

    top: 50%;
    left: 50%;
    margin-left: -2vh;

    transform: translate(-50%, -50%);
}

.box-logo-holder {
    position: absolute;
    right: 0;
    overflow: hidden;

    width: 55%;
    height: 100vh;
}

.box-login-holder {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    position: absolute;

    width: 45%;
    height: 58vh;

    top: calc(50% + 3vh);

    align-items: center;

    transform: translate(0%, -50%);
}

.box-register-login-holder {
    display: flex;

    height: auto;
    width: auto;
}

.btn-sign-in-select, .btn-sign-up-select {
    background-color: #140e4a;
    border-radius:0.5em;

    height: 6vh;
    width: 20vh;

}

.text-sign-up {
    position: absolute;
    user-select: none;
    content: "SIGN UP";
    display: block;
    text-align: center;
    font-family: Bebas, serif;
    color: #1f1f68;
    font-size: 4.4vh;


    width: 20vh;
    height: 4vh;

    top: 4.6%;
}

.text-sign-in {
    position: absolute;
    user-select: none;
    content: "SIGN IN";
    display: block;
    text-align: center;
    font-family: Bebas, serif;
    color: #ffcc00;
    font-size: 4.4vh;


    width: 20vh;
    height: 4vh;

    top: 4.6%;
}

.btn-sign-in-select {
    outline: solid 0.4vh;
    color: #1f1f68;
}

.btn-sign-in-select, .btn-sign-up-select:hover {
    outline: solid 0.4vh;
    color: #ffcc00;
}

.btn-sign-up-select:hover .text-sign-up {
    color: #ffcc00;
}

.box-registration-text {
    height: 10vh;
    width: 14vh;
}

.text-login {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    position: absolute;
    pointer-events: none;
    text-align: center;
    font-family: Bebas, serif;
    color: #ffcc00;
    font-size: 4.4vh;


    width: 20vh;
    height: 4vh;

    left: 50%;
    top: 18.5%;


    transform: translate(-50%, 0%);
}

input[type=text], input[type=password] {
    background-color: white;
    border-radius:2.5em;

    padding-left: 2.2vh;
    font-size: 2.4vh;

    height: 6vh;
    width: 42vh;
}

.break {
    height: 2vh;
    width: auto;
}

.break-login-register {
    height: 2vh;
    width: 3.6vh;
}

.btn-sign-in {
    background-color: #1f1f68;
    border-radius:1.5em;
    vertical-align: middle;
    cursor:pointer;

    height: 6vh;
    width: 20vh;

    border-style: solid;
    border-width: 0.4vh;
    border-color: #1f1f68;
}

.text-btn-sign-in {
    position: absolute;
    user-select: none;

    content: "SIGN IN";
    display: block;
    font-family: Bebas, serif;
    color: #140e4a;
    font-size: 4.4vh;
    overflow: hidden;
    white-space: nowrap;

    left: 50%;

    transform: translate(-50%, -50%);
}
